@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/breakpoint' as *;
@use '@carbon/styles/scss/theme' as *;

.doc-page-header {
  margin-top: $spacing-05;
  margin-left: $spacing-05;

  &__breadcrumb {
    padding-top: $spacing-03;
    padding-bottom: $spacing-05;
  }

  &__title {
    padding-bottom: $spacing-05;
    color: $text-primary;

    &--title {
      @include type-style('heading-04');
    }

    &--subtitle {
      @include type-style('heading-03');
    }
  }

  &__timer-desktop {
    display: none;
  }

  &__timer-mobile {
    display: block;
    margin-bottom: $spacing-03;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@include breakpoint(md) {
  .doc-page-header {
    &__header {
      flex-direction: row;
      align-items: center;
    }

    &__breadcrumb {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__timer-desktop {
      display: block;
    }

    &__timer-mobile {
      display: none;
      margin-bottom: 0;
    }

    &__content {
      margin-top: $spacing-03;
      flex-direction: row;
    }

    &__title {
      padding-bottom: 0;
      max-width: 80%;
    }

    &__button {
      margin-top: 0;
      margin-left: $spacing-05;
    }
  }
}
