@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/spacing' as *;

@use '@carbon/styles/scss/theme' as *;

.diff-status {
  &__box {
    display: flex;
    align-items: center;
    gap: $spacing-02;
  }

  &__title {
    @include type-style('label-01');
    color: $text-secondary;
  }
  &__date {
    @include type-style('label-01');
    color: $text-helper;
  }

  &__icon {
    display: flex;
    align-items: center;
  }
}
