@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/theme' as *;

.countdown-timer {
  min-width: 260px;
  width: fit-content;
  padding: 16px 24px;
  border: 1px solid $border-subtle-00;
  margin-top: 20px;

  &__title {
    @include type-style('label-01');
  }

  &__time-left {
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    color: #064a4a;

    &--overdue {
      // color: $tag-color-red;
      color: #a2191f;
    }
  }
  &__time-actual {
    margin-top: 10px;
    @include type-style('label-01');
  }
}
