$css--plex: true !default;

@use '@carbon/styles/scss/colors' as *;
@use '@carbon/styles/scss/config' as *;
@use '@carbon/styles/scss/breakpoint' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/utilities' as *;
@use '@carbon/styles/scss/components/button';
@use '@carbon/styles/scss/components/popover/index';
@use '@carbon/styles/scss/components/tooltip';
@use '@carbon/styles/scss/components/ui-shell/header';
@use '@carbon/styles/scss/components/ui-shell/header-panel';
@use '@carbon/styles/scss/components/ui-shell/switcher';

@use '@carbon/type';

.right-container {
  position: relative;
}

.countdown-timer {
  width: 175px;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  margin-top: 20px;

  position: absolute;
  right: 0;

  &__title {
    text-align: center;
    @include type.type-style('label-01');
  }

  &__overdue {
    text-align: center;
    color: #a2191f;
    @include type.type-style('heading-03');
  }

  &__time-left {
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    color: #064a4a;
  }
  &__time-actual {
    text-align: center;
    margin-top: 10px;
    @include type.type-style('label-01');
  }
}
