$media-md: 48rem;
$media-lg: 66rem;
$media-xlg: 82rem;

$grid-column-gap: 30px;

$cc-primary: #022069;
$cc-primary-hover: #24428a;
$cc-bg: #f7f8fb;
$cc-color-link: #2f53ab;
$cc-color-link--light: #e4e7f0; // hover links
$cc-color-link--visited: #670999; //visited links
$cc-color-border: #dbdbdb; // for borders was used $layer-02
$cc-color-silver: #5f6367;
$cc-color-light: #f2f5f4;

$cc-color-bg-error: #ffdedb;
$cc-color-gray-02: #525252;
$cc-color-salad: #b7cb59;
$cc-color-stone--light: #dbdbdb;
$cc-color-stone: #cccccc;
$cc-color-white: #ffffff;
$cc-color-warn: #ffb5b0;
$cc-color-warn--soft: #fff1f1; // for diff background
$cc-color-purple: #a11950;
$cc-color-bush: #006161;
$cc-color-light-sun: #f8e4ad;
$cc-color-snow: #f7f7f7;
$cc-color-snow-darker: #aaaaaa;

$cc-color-read-only: #565656;
$cc-color-notify-green: #007457;
$cc-color-peach: #ff9b6d;
$cc-color-gold: #ffc34c;
$cc-color-grass: #198038;
$cc-color-fire: #da1e28;
$cc-color-purple: #9933ff;

$cc-notify-blue: #edf5ff;

@mixin transition-fast() {
  transition: all 350ms ease;
}

@mixin position-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
