@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/theme' as *;

.page-empty-state {
  //   padding: $spacing-05 $spacing-05 $spacing-06 0;
  //   &__title {
  //     @include type-style('heading-03');
  //     margin: 0;
  //     padding-bottom: $spacing-05;
  //     color: $text-primary;
  //   }

  //   &__subtitle {
  //     @include type-style('body-compact-01');
  //     margin: 0;
  //     color: $text-primary;
  //   }
}

.page-empty-state {
  background-color: $layer-01;
  width: 100vw;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    height: 100%;
    padding: $spacing-05 $spacing-05 $spacing-06 0;
  }
}
