@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/breakpoint' as *;

.page-empty-state {
  background-color: $layer-01;
  width: 100%;
  min-height: 100vh;

  &__container {
    padding-right: $spacing-05;
    padding-top: $spacing-11 + $spacing-09; // 48px (spacing 9) is the height of main nav
    padding-left: $spacing-05;
  }

  &__icon {
    width: $spacing-07;
    height: $spacing-07;
    margin-bottom: $spacing-03;
    fill: $text-primary;
  }

  &__title {
    @include type-style('heading-03');
    color: $text-primary;
    margin-bottom: $spacing-03;
  }

  &__text {
    @include type-style('body-compact-01');
    color: $text-primary;
    margin-bottom: $spacing-05;
  }

  &__button {
    margin-bottom: $spacing-03;
  }
}

@include breakpoint(md) {
  .page-empty-state {
    &__container {
      max-width: 354px;
      padding-top: $spacing-13;
      padding-left: $spacing-11;
    }
  }
}
