@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/theme' as *;

.container {
  position: relative;
  display: block;
  border-right: 33px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-left: 6px solid #161616;

  &__border-left-black {
    border-left: 6px solid #161616;
  }

  &__border-left-green {
    border-left: 6px solid #027070;
  }

  &__border-left-red {
    border-left: 6px solid #d12771;
  }
  &__solved {
    border-left: 6px solid #e0e0e0;
  }
}

.top-line {
  background-color: $layer-01;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  margin-right: -32px;
  border-top: 1px solid #e0e0e0;
}
