@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/config' as *;

.project-card-container {
  background-color: $layer-01;
  border: 1px;
  border-radius: 8px;
  padding: $spacing-05;

  display: flex;
  flex-direction: column;
  gap: $spacing-03;
  text-decoration: none;
}

.project-card-container:hover {
  background-color: $layer-hover;

  .project-card-info-image {
    background-color: $layer-accent-hover-01;
  }
}

.project-card-header {
  display: flex;
  align-items: center;
  // height: 32px;
  justify-content: space-between;
}

.project-card-projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  @include type-style('label-01');
}

.project-header-id {
  @include type-style('label-01');
  padding-right: $spacing-03;
  color: $text-secondary;
}

.project-card-desc {
  @include type-style('heading-compact-01');
  text-decoration: none;
  color: $text-primary;
  margin-bottom: $spacing-02;
}

.project-card-desc:hover,
.project-card-desc:focus {
  text-decoration: underline;
}

.project-card-info {
  display: flex;
}

.project-card-authority {
  display: flex;
  align-items: baseline;
  gap: $spacing-03;
}

.project-card-organization {
  @include type-style('body-compact-01');
  color: $text-primary;
}

.project-card-authority-title {
  @include type-style('label-01');
  color: $text-secondary;
}

.project-card-authority-desc {
  @include type-style('body-compact-01');
  color: $text-primary;
}

.project-card-info-section {
  display: flex;
  padding-right: 35px;
}

.project-card-info-item {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;

  p {
    @include type-style('label-01');
    color: $text-secondary;
    margin: 0;
  }

  h3 {
    @include type-style('body-compact-01');
    color: $text-primary;
    margin: 0;
  }
}

.project-card-info-image {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $layer-accent-01;
}

@media (max-width: 768px) {
  .project-card-info {
    display: block;
  }

  .project-card-info-section {
    padding-right: 0;
    margin-top: $spacing-05;
  }
}

@media (max-width: 320px) {
  .project-card-projects {
    flex-direction: column;
    align-items: start;
  }
  .project-card-header {
    padding-bottom: 8px;
  }
}
