@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/theme' as *;


cds-search::part(input) {
  background-color: black; /* Change background color */
  color: white;
}
cds-search .cds--search-magnifier{
  background-color: red;
}


.search-results{
  max-width: 500px;
  max-height: 400px;
  overflow: auto;
}

.search-results ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.search-results a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background-color: black; /* Background for individual items */
  transition: background-color 0.3s ease;
  color: white; /* Text color */
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.search-results a:hover {
  background-color: #393939;
}

.search-results strong {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.search-results span {
  display: block;
  font-size: 12px;
  color: #6e6e6e; /* Secondary text color */
}

.search-results li + li {
  border-top: 1px solid #393939; /* Divider between list items */
  background-color: black;
}

