@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/theme' as *;


.search-icon-background{
  &__closed{
    padding-right: 48px; 
    background-color: #064A4A;
    &:hover{
      background-color:#166060;
    }
  }
  &__opened{
    padding-right: 0; 
  }
}


cds-search::part(input) {
  background-color: black; /* Change background color */
  color: white;
}

cds-search .cds--search-magnifier{
  background-color: red;
  
}

:host(.cds-theme-zone-cfla-search-icon),
.cds-theme-zone-cfla-search-icon {
  --cds-icon-primary: white;
  --cds-field-hover: #393939;
  --cds-field: #393939;
}


.search-results{
  max-width: 500px;
  max-height: 400px;
  overflow: auto;
  --cds-icon-primary: white;
}

.search-results ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.search-results a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background-color: black; /* Background for individual items */
  transition: background-color 0.3s ease;
  color: white; /* Text color */
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.search-results li a:hover,
.search-results li a.active { 
  background-color: #393939;
}

.search-results strong {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.search-results span {
  display: block;
  font-size: 12px;
  color: #6e6e6e; /* Secondary text color */
}

.search-results li + li {
  border-top: 1px solid #393939; /* Divider between list items */
  background-color: black;
}

