@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/spacing' as *;

@use '@carbon/styles/scss/theme' as *;

.diff-checker-btn {

  &__box{
    display: flex;
    align-items: center;
    gap: $spacing-02;

  }

  &__title {
    @include type-style('label-01');
    color: #393939;

  }
  &__date {
    @include type-style('label-01');
    color: #5F6367;
  }

  &__icon  {
    display: flex;
    align-items: center;
  }


}