@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/theme' as *;

.label-with-help {
  display: flex;
  align-items: center;

  &__label {
    color: $text-secondary;
    @include type-style('label-01');
  }
}
