:root {
    --cds-background: #F2F5F4;
    --cds-background-brand: #064A4A;
    /* --cds-background-brand: #027070; */

    --cds-button-primary: #064A4A;
    --cds-button-primary-hover: #027070;
    --cds-button-primary-active: #032B2B;

    --cds-button-secondary: #393939;
    --cds-button-secondary-hover: #4C4C4C;
    --cds-button-secondary-active: #6F6F6F;

    --cds-button-tertiary: #064A4A;
    --cds-button-tertiary-hover: #064A4A;
    --cds-button-tertiary-active: #032B2B;

    --cds-link-primary: #027070;
    --cds-link-primary-hover: #064A4A;
    --cds-link-secondary: #265BDE;
    --cds-link-secondary-hover: #2F53AB;
    --cds-link-inverse: #78a9ff;
    --cds-link-visited: #8a3ffc;

    --cds-focus: #027070;

    --cds-interactive: #064a4a;
    --cds-border-interactive: #064a4a;
}