@import "./quill/quill.snow.scss";
@import '@carbon/styles/index.scss';

#editor-container cds-button::part(button) {
    padding: 4px;
}

#fullscreenButton {
    &::part(button) {
        width: 32px;
        height: 32px;
        padding: 7px;
    }

    svg path, 
    svg polygon {
        fill: var(--cds-link-primary);
    }
}

.cc-text-editor {
    background-color: $background;

    &--text-limit {
        .cc-text-editor__head-limit {
            color: $text-error;
        }
        & + .ql-container.ql-snow {
            border-color: $support-error;
        }
    }
    
    &__head,
    &__meta,
    &__limit {
        @include type-style("body-01", true);
    }

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__limit {
        color: $text-error;
    }
}
   