@import "./quill/quill.snow.scss";
@import '@carbon/styles/index.scss';

#editor-container cds-button::part(button) {
    padding: 4px;
}

#fullscreenButton {
    &::part(button) {
        width: 32px;
        height: 32px;
        padding: 7px;
    }

    svg path, 
    svg polygon {
        fill: var(--cds-link-primary);
    }
}

.cc-text-editor {
    background-color: $background;
    
    &__head,
    &__meta {
        @include type-style("body-01", true);
    }

    &__head {
        display: flex;
        justify-content: space-between;
    }
}
   